<h1 id="heading" >Angular Reactive Form Validation</h1>
<form id="reactive-form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    
    <div>
    <label for="inputFirstname">First Name </label><br>
    <input class="input" id="inputFirstname" placeholder="Enter First Name" type="text" formControlName="name" required><br>
    <span style="color:red" *ngIf="name && name.invalid && (name.dirty || name.touched)">errorFirstName :
        <span *ngIf="name.errors?.['required']"><br> First Name is required. </span>
        <span *ngIf="name.errors?.['minlength']"><br> First Name must contain minimum 3 characters. </span>
        <span *ngIf="name.errors?.['maxlength']"><br> First Name should not exceed 50 characters. </span>
        <span *ngIf="name.errors?.['pattern']"><br> Only Alphabets, no special chars, no numericals are allowed. </span> 
    </span>
    </div>
    <br>
    <br>
    
    <div id="gender">
    <label for="gender">Gender </label><br>
    <input id="gender" placeholder="Select the Gender" type="radio" formControlName="gender" value="male" required> Male<br>
    <input id="gender" placeholder="Select the Gender" type="radio" formControlName="gender" value="female" required> Female<br>
    <input id="gender" placeholder="Select the Gender" type="radio" formControlName="gender" value="others" required> Others<br>
    <span style="color:red" *ngIf="gender && gender.invalid && (gender.dirty || gender.touched)">errorGender :
        <span *ngIf="gender.errors?.['required']"><br> Gender is required. </span>
    </span>
    </div>
    <br>
    <br>

	<div formGroupName="location">

        <div>
            <label for="country">Country </label><br>
            <select id="country" formControlName="country" required>
                <option value="0" disabled selected>Select a Country</option>
                <option  *ngFor="let place of places"  [value]= "place.country">{{place.country}}</option>
            </select>
            <span style="color:red" *ngIf="country && country.invalid && (country.dirty || country.touched)"><br>errorCountry :
                <span *ngIf="country.errors?.['required']"><br> Country is required. </span>
            </span>
            <br>
            <br>
            <label for="city">City </label><br>
            <select id="city" formControlName="city" required>
                <option value="0" disabled selected>Select a City</option>
                <option *ngFor="let cities of getLocation(reactiveForm.value['location'].country)" value="{{cities}}">{{cities}}</option>
            </select>
            <span style="color:red" *ngIf="city && city.invalid && (city.dirty || city.touched)"><br>errorCity :
                <span *ngIf="city.errors?.['required']"><br> City is required. </span>
            </span>
            <br>
            <br>

        </div>

    </div>

    <div>
    <label for="inputAge">Age </label><br>
    <input class="input" id="inputAge" placeholder="Enter the Age" type="number" formControlName="age"><br>
    <span style="color:red" *ngIf="age && age.invalid && (age.dirty || age.touched)">errorCountry :
        <span *ngIf="age.errors?.['required']"><br> Age is required. </span>
    </span>
    </div>
    <br>
    <br>

    <button type="submit" id="submit" [disabled]="!reactiveForm.valid">Submit</button>
  
  </form>